name: CI Pipeline
on:
  push:
    branches:
    - main
    - develop
    paths:
    - 'src/**'
  pull_request:
    branches:
    - main
    paths:
    - 'src/**'
    - 'README.md'
  schedule:
  - cron: '*/5 * * * *'
  

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: echo "Building the project..."
